<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.itravel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.profile_upgrade.Update_popup" />
        <activity android:name="com.example.profile_upgrade.Payment_editable_recipt" />
        <activity android:name="com.example.Feedback.MyFeedbacks" />
        <activity android:name="com.example.Feedback.UpdateFeedback" />
        <activity android:name="com.example.Feedback.DeleteFeedback" />
        <activity android:name="com.example.Feedback.AddFeedback" />
        <activity android:name="com.example.profile_upgrade.PaymentDetailsUpdate" />
        <activity android:name="com.example.profile_upgrade.profile_upgrade_main" />
        <activity android:name="com.example.profile_upgrade.profile_upgrade_main_pre" />
        <activity android:name="com.example.profile_upgrade.profile_upgrade_main_pre_pay_details" />
        <activity android:name="com.example.profile_upgrade.profile_upgrade_main_pre_pay_method" />
        <activity android:name="com.example.profile_upgrade.profile_upgrade_main_success" />
        <activity android:name="com.example.profile_upgrade.Viewpaymentlogs" />
        <activity android:name=".RestaurentOffers.AddOffers" />
        <activity android:name=".RestaurentOffers.DeleteOffers" />
        <activity android:name="com.example.Home.dashboard" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".RestaurentOffers.UpdateOffers" />
        <activity android:name=".RestaurentOffers.Hotels" />
        <activity
            android:name="com.example.profile_upgrade.Intro_Page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>